html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  html, body, .root {
    height: 100%;
  }
  body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    line-height: 1.5;
  }
  body, .app {
    background: #f5f5f5;
  }

  .left {
      width: 15%;
      background: #d9d9d9;
  }

  .right {
      width: 80%;
      
  }
  .wraper {
      display: flex;
      width: 100vw;
      height: 100vh;
      border: thin solid oliv
  }

  /***** SIDEBAR ****/

  .sidebar {
    width: 100%;
    background-color: #3a3a3a;
    height: 200px;
   
  }

  .sidebar li {
      list-style-type: none;
      height: auto;
  }

  .sidebar a {
      padding: 5px;    
      text-decoration: none;
      color: #fff;
      display: block;
      font-size: 14px;
  }

  .sidebar a:hover { 
      background: #797979;
      color: white;
  }

  .hero {
      background: #3a3a3a;
      display: flex;
      align-items: flex-end;
      justify-content: flex-start;
      height: 45px;
      color: whitesmoke;
  }

  .title {
      font-family: 'Montserrat Alternates', sans-serif;
      margin-left: 5px;
  }

  .logo {
      font-size: 24px;
      margin-left: 24px;
  }